{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
<section class="content-header">
	<h1>
		{{folder.name}}
	</h1>
</section>
<section class="content">
	<div class="row folder-container">
{% if can_create %}
		<div class="col-md-3 col-sm-3 form-list-item">
			<a data-toggle="modal" data-target="#new-folder-form">
				<div class="info-box">
				<!-- Apply any bg-* class to to the icon to color it -->
					<span class="info-box-icon bg-red"><i class="fa fa-folder-o"></i></span>
					<div class="info-box-content">
						<span class="info-box-text multi-lang">Create Folder</span>
						<span class="info-box-number"></span>
					</div><!-- /.info-box-content -->
				</div><!-- /.info-box -->
			</a>
		</div>
{% endif %}
{% if can_add %}
		<div class="col-md-3 col-sm-3 form-list-item">
			<a href="{{ path_for('form.create', {'id': id}) }}">
				<div class="info-box">
				<!-- Apply any bg-* class to to the icon to color it -->
					<span class="info-box-icon bg-green"><i class="fa fa-edit"></i></span>
					<div class="info-box-content">
						<span class="info-box-text multi-lang">Create Form</span>
						<span class="info-box-number"></span>
					</div><!-- /.info-box-content -->
				</div><!-- /.info-box -->
			</a>
		</div>
{% endif %}
	</div>
</section>
<!-- Modal -->
<div class="modal fade" id="new-folder-form" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title multi-lang" id="modalLabel">New Folder</h4>
			</div>
			<div class="modal-body">
				<div class="box-body">
					
					<div class="form-group">
						<label for="folder_name" class="multi-lang">Folder name</label>
						<input type="text" class="form-control multi-lang" id="folder_name" placeholder="Enter folder name" name="folder_name" />
					</div>

				</div>				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default multi-lang" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary btn-save multi-lang">Submit</button>
			</div>
		</div>
	</div>
</div>
<script>
	var documentReady = function () {
		var container = $(".folder-container");
		XTD.api('/folder/{{id}}/forms', function (data) {
			$(data.result).each(function(index, form) {
				var id = form.id;
				$("<div />").addClass("col-md-3 col-sm-3 form-list-item").append(
					$("<a />").attr("href", "/form/"+id).append(
						$("<div />").addClass("info-box").append(
							$("<span />").addClass("info-box-icon bg-blue").append(
								$("<i />").addClass("fa fa-edit")
							)
						).append(
							$("<div />").addClass("info-box-content").append(
								$("<span />").addClass("info-box-text multi-lang").html(form.name)
							).append(
								$("<span />").addClass("info-box-number").html(form.data_count)
							)
						)
					)
				).appendTo(container);
				
				//$("<div />").addClass("col-md-2 col-sm-3 form-list-item").append(
				//	$("<a />").attr("href", "/form/"+id).append(
				//		$("<div />").addClass("box box-default color-palette-box").append(
				//			$("<div />").addClass("box-header with-border").append(
				//				$("<h3 />").addClass("box-title").html(form.name).prepend($("<i />").addClass("fa fa-edit"))
				//			)
				//		).append(
				//			$("<div />").addClass("box-body").append(
				//				$("<h1 />").html("20k").append(
				//					$("<span />").css("font-size",".3em").html(XTD.__("posts"))
				//				)
				//			).append(
				//				$("<div />").html(XTD.__("last submit") + ": " + "1 Dec 2016")
				//			)
				//		)
				//	)
				//).appendTo(container);
			});
		});
	}
	$(".btn-save").click(function () {
		
		var folder_name = $("#folder_name").val();
		XTD.api('/folder/manage/', XTD.method.POST, 
		{
			parent_id: {{id}},
			name: folder_name
		}, function (data) {
			if (data.result) {
				generateFolders(true);
				$('#new-folder-form').modal('hide')
			} else {
			}
		});
	});
</script>
{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}
