{% if request.ajax == false %}
{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% endif %}

{% block content %}
<h1>{{folder.name}}</h1>
<div class="row">
	<div class="col-md-2 form-list-item">
		<a href="/form/1">
			<div class="box box-default color-palette-box">
				<div class="box-header with-border">
					<h3 class="box-title"><i class="fa fa-edit"></i> Form A</h3>
				</div>
				<div class="box-body">
					<h1 style="text-align: center;">20</h1>
					<div>
						last submit: 1 Dec 2016
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}
