{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border"><h1 id="form_title"></h1></div>
				<form action="" method="post">
					<div id="form-items-container" class="form-items-container edit-mode box-body"></div>
					<div class="box-footer">
						<button type="button" class="btn btn-primary multi-lang" onclick="serializeItem();">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<script>
	var isWorking = false;
	var fda = {};
	var documentReady = function () {
		XTD.api('/form/def/{{id}}', function (data) {
			if (data.result) {
				fda = new XTD.FDA(data.result, true).setItemContainerId('form-items-container').setControlContainerId('form-controls-container').setPropertyContainerId('form-properties-container');
				fda.renderAll();

				dragula([document.getElementById('form-controls-container'), document.getElementById('form-items-container')], {
					moves: function (item, source, handle, nextEl) {
						return $(item).attr('id') != 'form_title';
					},
					copy: function (el, source) {
						return source === document.getElementById('form-controls-container')
					},
					accepts: function (el,target) {
						return target !== document.getElementById('form-controls-container');
					}
				})
				.on('drop', function (item, target, _source, _currentSibling) {
					if (target) {
						var index = Array.prototype.indexOf.call(target.childNodes, _currentSibling) - 1; //-1 for 1 based array, -1 for header
						console.log(index);
						if (index == -2) {
							index = fda.definition.items.length;
						}
						
						var item = $(item);
						if (item.attr('data-factory')) {
							fda.insertItem(index, new XTD.properties.DefaultDefinition(XTD.SequenceGenerator.getNextCounter() , item.html(), item.attr('data-factory').toString().replace('Factory','')));
							fda.renderAll();
						}
					}
				});
			}
		});
		
		 $('.control-sidebar').addClass('control-sidebar-open');
		 
		 $(".nav-tabs a:first").tab('show');
	};
	
	function serializeItem() {
		if (!isWorking) {
			isWorking = true;
		//console.log(fda.serializeItem());
{% if folder_id != '' %}
			XTD.api('/form/def/{{folder_id}}', 'POST', fda.serializeItem(), function (data) {
{% elseif id %}
			XTD.api('/form/def/{{id}}', 'PUT', fda.serializeItem(), function (data) {
{% endif %}
			//console.log(data);
				if (data.result) {
					History.back();
				}
				isWorking = false;
			});
		}

	}
	
	function remove(item) {
		for (var i = 0; i < fda.definition.items.length; i++) {
		//console.log(i);
		//console.log(fda.definition.items[i].name);
		//console.log($(item).data('id'));
		//console.log('');
			if (fda.definition.items[i].name == $(item).data('id')) {
				console.log(i);
				var result = confirm(XTD.__('Are you sure to remove this control?'));
				if (result) {
					fda.removeItem(i);
					fda.renderAll();
				}
				break;
			}
		}
	}
	
	var debug = 0;
	function consolelog(msg) {
		if (debug) {
			console.log(msg);
		}
	}
</script>
{% endblock %}

{% block sidebar %}
	<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
		<li><a href="#control-sidebar-controls-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
		<li><a href="#control-sidebar-properties-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
	</ul>
    <div class="tab-content">
		<div class="tab-pane" id="control-sidebar-controls-tab">
			<h3 class="control-sidebar-heading multi-lang">Controls</h3>
			<div id="form-controls-container" class="form"></div>
		</div>
		<div class="tab-pane" id="control-sidebar-properties-tab">
				<h3 class="control-sidebar-heading multi-lang">Properties</h3>
				<div id="form-properties-container" class="form"></div>
		</div>
	</div>
		
	
{% endblock %}

{% block scripts %}
{% endblock %}
