{% extends "layout.public.html" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h1 id="form_title"></h1>
					<div class="pull-right box-tools">
{% if can_update %}
					<button type="button" class="btn btn-info btn-sm"  title="Import" id="btn-import" data-toggle="modal" data-target="#new-import-form"><i class="fa fa-upload"></i></button>
					<button type="button" class="btn btn-info btn-sm"  title="Edit" id="btn-edit"><i class="fa fa-edit"></i></button>
{% endif %}
{% if can_modify %}
					<button type="button" class="btn btn-info btn-sm" title="Modify" id="btn-modify"><i class="fa fa-gears"></i></button>
{% endif %}
{% if can_delete %}
					<button type="button" class="btn btn-info btn-sm" title="Remove" id="btn-remove"><i class="fa fa-remove"></i></button>
{% endif %}
              </div>
			  </div>
				<form action="" method="post">
					<div id="form-items-container" class="form-items-container edit-mode box-body"></div>
					<div class="box-footer"><button type="button" class="btn btn-primary multi-lang" onclick="serializeItem();">Save</button></div>
				</form>
			</div>
		</div>
	</div>
</section>
{% if can_update %}
<div class="modal fade" id="new-import-form" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title multi-lang" id="modalLabel">New Import</h4>
			</div>
			<div class="modal-body">
				<div class="box-body">
					
					<div class="form-group">
						<label for="csvfile" class="multi-lang">Import File</label>
						<input type="file" class="form-control multi-lang" id="csvfile" placeholder="" name="csvfile" />
					</div>

				</div>				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default multi-lang" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary btn-save multi-lang">Submit</button>
			</div>
		</div>
	</div>
</div>
{% endif %}
<script>
	var isWorking = false;
	var fda = {};
	var documentReady = function () {
		XTD.api('/form/def/{{id}}', function (data) {
			if (data.result) {
				fda = new XTD.FDA(data.result, false).setItemContainerId('form-items-container');
				fda.renderAll();
			}
		});
	};
	
	function serializeItem() {
		//console.log(fda.serializeValue());
		if (!isWorking) {
			isWorking = true;
			var result = fda.validate();
			if (result.valid) {
				XTD.api('/form/data/{{id}}', XTD.method.POST, fda.serializeValue(), function (data) {
					if (data.result) {
						alert(XTD.__("Form submitted successfully. the page will redirect to the previous section."));
						//location.href='{{ path_for('formdata.form.public.thankyou') }}';
						History.pushState(null, null, '{{ path_for('formdata.form.public.thankyou') }}');
					}
					isWorking = false;
				});
			} else {
				alert(result.message);
				isWorking = false;
			}
		}
	}
</script>
{% endblock %}

{% block sidebar %}
		
	
{% endblock %}

{% block scripts %}
{% endblock %}
