{% extends "layout.html" %}
{% block title %}Forms{% endblock %}

{% block content %}
	<div class="row row-offcanvas row-offcanvas-right">

		<div class="col-xs-12 col-sm-9">
			<p class="pull-right visible-xs">
				<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
			</p>
			<div class="jumbotron">
				<h1>{{ notice_title }}</h1>
				<p>{{ notice_message }}</p>
			</div>
			<div class="row">
				{% for form in values %}
				<div class="col-xs-6 col-md-4 col-lg-3">
					<div class="box form" data-id="{{form.id}}">
						<h2>{{form.fruit_name}}</h2>
						<p><img src="" alt=""></p>
						<p class="bottom">
							第 {{form.version}} 版 
						</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script>
		$(".form").click(function () {
			location.href = "{{ path_for('form.details', {'id':''}) }}" + $(this).attr("data-id");
		});
	</script>
{% endblock %}
