{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
<style>
	#form-items-container {
		background-color: #f00;
	}
	#form-properties-container {
		background-color: #0f0;
		position: absolute;
		right: 100px;
		top: 51px;
		bottom: 0;
		padding: 10px 0;
		width: 200px;
		color: #000;
		overflow-y: auto;
	}
	#form-controls-container {
		background-color: #00f;
		position: absolute;
		right: 0;
		top: 51px;
		bottom: 0;
		padding: 0px 0;
		width: 100px;
		color: #000;
		overflow: auto;
	}
	.control-item {
		border: 1px solid #888;
		background-color: #ddd;
		padding: 5px;
	}
</style>
{% endblock %}

{% block content %}
<form action="{{ path_for('form.create.submit') }}" method="post">
	<input type="button" value="serialize" onclick="serializeItem();" />
	<h1 id="form_title"></h1>
	<div id="form-items-container"></div>
	<div id="form-properties-container" class="form"></div>
	<div id="form-controls-container" class="form"></div>
</form>
{% endblock %}

{% block scripts %}
<script src="./js/xtd/xtd.sdk.js"></script>
<script src="./js/xtd/xtd.sequencegenerator.js"></script>
<script src="./js/xtd/xtd.collection.js"></script>
<script src="./js/xtd/xtd.baseitem.js"></script>
<script src="./js/xtd/xtd.item.js"></script>
<script src="./js/xtd/xtd.editableitem.js"></script>
<script src="./js/xtd/xtd.property.js"></script>
<script src="./js/xtd/xtd.form.js"></script>
<script src="./js/xtd/xtd.properties.textbox.js"></script>
<script src="./js/xtd/xtd.properties.checkbox.js"></script>
<script src="./js/xtd/xtd.controls.singleline.js"></script>
<script src="./js/xtd/xtd.controls.textarea.js"></script>
<script src="./js/xtd/xtd.controls.checkbox.js"></script>
<script src="./js/xtd/xtd.controls.radio.js"></script>
<script src="./js/xtd/xtd.controls.select.js"></script>
<script src="./js/xtd/xtd.validators.mandatory.js"></script>
<script src="./js/xtd/xtd.fda.js"></script>
<script>
	//var formData = {};
	var fda = {};
	$(document).ready(function () {
		XTD.init({
				appId: '6d25b55d-987a-41dd-87b3-4db79b81f86c',
				version: '1.0',
				secret: '8861b2e14d94'
				});
		XTD.getLoginStatus(function (data) {
			if (!data.result) {
				XTD.login({'username':'admin','password':'admin'}, function (data) {
					consolelog(data);
				});
			} else {
				consolelog('login success');
			}
		});
		
		XTD.api('/form/def/1', function (data) {
			//console.log(data.result);
			fda = new XTD.FDA(data.result, true).setItemContainerId('form-items-container').setPropertyContainerId('form-properties-container');
			fda.renderAll();
			//console.log(data);
			dragula([document.getElementById('form-controls-container'), document.getElementById('form-items-container')], {
				moves: function (item, source, handle, nextEl) {
					return $(item).attr('id') != 'form_title';
				},
				copy: function (el, source) {
					return source === document.getElementById('form-controls-container')
				},
				accepts: function (el,target) {
					return target !== document.getElementById('form-controls-container');
				}
			})
			.on('drop', function (item, target, _source, _currentSibling) {
				var index = Array.prototype.indexOf.call(target.childNodes, _currentSibling) - 1; //-1 for 1 based array, -1 for header
				var item = $(item);
				if (item.attr('data-factory')) {
					fda.insertItem(index, new XTD.properties.DefaultDefinition(XTD.SequenceGenerator.getNextCounter() , item.html(), item.attr('data-factory').toString().replace('Factory','')));
					fda.renderAll();
				}
			});
			
			$(".control-item").click(function () {
				var item = $(this);
				fda.addItem(new XTD.properties.DefaultDefinition(XTD.SequenceGenerator.getNextCounter() , item.html(), item.attr('data-factory').toString().replace('Factory','')));
				fda.renderAll();
			});
		});
		
		$controlContainer = $("#form-controls-container");
		for (var name in XTD.factories) {
			if (XTD.factories[name].name) {
				$("<div />").addClass("control-item").attr('data-factory', name).html(XTD.factories[name].display).appendTo($controlContainer);
			}
		}
		//$.getJSON( "form.json", function(data) {
		//	fda = new XTD.FDA(data, true).setItemContainerId('form-items-container').setPropertyContainerId('form-properties-container');
		//	fda.renderAll();
		//	//formData = new XTD.definitions.Form(data).setChangeControlHandler(changeControlHandler);
		//	//
		//	// renderAll();
		//console.log(data);
		//});
	});
	
	function serializeItem() {
		console.log(fda.serializeItem());
		//XTD.api('/form/def/1', 'PUT', fda.serializeItem(), function (data) {
		//	console.log(data);
		//});
	}
	
	var debug = 0;
	function consolelog(msg) {
		if (debug) {
			console.log(msg);
		}
	}
	
	//function changeControlHandler(item) {
	//	$("#form-properties-container").empty();
	//		item.each(function (property) {
	//			$("#form-properties-container").append($(property.render()));
	//		});
	//}
	//
	//function renderAll() {
	//	$("#form-items-container").empty();
	//	$("#form-items-container").append($(formData.render()));
	//}
</script>
{% endblock %}
