{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
<section class="content-header">
	<h1 class="multi-lang">
		Search Result
	</h1>
</section>
<section class="content">
	<div class="row result-container">
	</div>
</section>
<script>
function documentReady() {
	getSearchResult();
	$("#search-btn").click(function () {
		getSearchResult();
	});
}

function getSearchResult() {
	XTD.api('/search', 'POST', {
		key: $("[name=q]").val()
	}, function (data) {
		if (data.result) {
			var container = $(".result-container");
			container.empty();
			$.each(data.result, function (id, element) {
				var search_result = '';
				$.each(element.fields, function (idx, value) {
					search_result += idx + ": " + value + "<br />";
				});
				$("<div />").addClass("col-md-3 col-sm-3 form-list-item").append(
					$("<a />").attr("href", "/form/"+id).append(
						$("<div />").addClass("info-box").append(
							$("<span />").addClass("info-box-icon bg-blue").append(
								$("<i />").addClass("fa fa-edit")
							)
						).append(
							$("<div />").addClass("info-box-content").append(
								$("<span />").addClass("info-box-text multi-lang").html(element.form.name)
							).append(
								$("<span />").addClass("info-box-result").html(search_result)
							)
						)
					)
				).appendTo(container);
				
			});
		}
	});
}
</script>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block scripts %}
{% endblock %}